<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Market Place</title>
</head>

<body>
<h1>Market Place</h1>
<h2>Buy and sell products</h2>
{% if user.is_authenticated %}
    <a href="{% url 'my_products' %}">My Products<a>
    <br>
    <a href="{% url 'rest_framework:logout' %}">Log Out</a>
{% else %}
    <a href="{% url 'rest_framework:login' %}">Log In</a>
{% endif %}
<br>
Total count: {{ count }}
{% if results %}
    <ul>
        {% for product in results %}
            <li><a href="{% url 'product_detail' product.id %}">{{ product.title }}</a></li>
        {% endfor %}
    </ul>
    {% if next %} <a href= {{ next }}>Next</a> {% endif %}
    |{% if previous %} <a href= {{ previous }}>Previous</a> {% endif %}
{% else %}
    <p>No products are available.</p>
{% endif %}
</body>
</html>
