{% load static %}
<section class="commerce-section">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="{% static 'marketplace/home2.png' %}" alt="University Commerce" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>A new world of university commerce</h2>
            <p>Do you find yourself with excess items or on the verge of leaving university? Spare yourself the hassle of searching for potential buyers among juniors. Instead, let us streamline the process for you. With just a few clicks, create an advertisement tailored to our audience and effortlessly sell your products. Whether it's textbooks, furniture, electronics, or anything else, our platform provides the perfect avenue to connect with interested buyers and ensure a smooth transaction. Say goodbye to the stress of finding buyers and hello to the ease of selling with us.</p>
        </div>
    </div>
</section>
