{% extends 'marketplace/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <br> <img src="{{ image_url }}" alt="{{ title }}"> <br>
    Price: ${{ price }}
    <br>
    Only {{ available_count }} left in stock!!
    <br>
    Seller Name: {{ seller_name }}
    <br>
    {% if request.user.is_authenticated and request.user.id == owner %}
        <a href="{% url 'my-product-update' id %}">
            <img src="{% static 'marketplace/edit.svg' %}" alt="edit"/>
        </a>
    {% endif %}
{% endblock %}